.AsideContainer {
    max-height: 95svh;
    text-align: center;
    overflow-y: auto;

    scrollbar-color: var(--border-color) transparent;
    background-color: var(--card-color);

    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);

    grid-area: aside;

    @media only screen and (max-width: 767px) {
        max-height: 100%;
        overflow-y: visible;

        &:not(:last-child) {
            margin-bottom: var(--spacing);
        }
    }
}

.Scroller {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    padding: var(--spacing);

    @media only screen and (max-width: 767px) {
        overflow-y: visible;
    }
}

.AsideCard__header {
    padding-top: 0.15rem;
    min-height: fit-content !important;
}

.AsideCard__title {
    display: block;
    margin: 0.2em 0;
}

.AsideCard__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
