.LangButton {
    display: block;
    min-block-size: 2svh;
    height: 90%;
    margin: auto 0.15em;

    align-content: center;

    &:hover {
        filter: brightness(0.9);
        cursor: pointer;
    }
}

.img {
    aspect-ratio: 2.9 / 1.9;
    width: 100%;
    border: var(--border-width) solid var(--border-color);
    border-radius: 0.6em;
}
