.MainCard {
    line-height: 1.15;

    padding: 1em;

    background-color: var(--card-color);

    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);

    &:not(:last-child) {
        margin-bottom: var(--spacing);
    }

    sub, sup {
        padding: 0 0.6rem;
    }

    h4 {
        font-size: 1.2em;
        margin: 0.8em 0 0.6em 0;
    }

    h5 {
        font-size: 1em;
        margin: 1.4em 0 0.8em 0;
    }

    a {
        margin: 0.4em 0;
    }

    ul {
        margin: 0.25em 0 1em 0;
        padding: 0 1.75rem;
        list-style-type: square;
    }

    @media only screen and (min-width: 768px) {
        h4 {
            margin: 1.1em 0 1em 0;
        }
    }
}
