.SocialList {
    display: flex;
    justify-content: center;
    width: 88%;
    margin: 0.5em auto;

    @media only screen and (max-width: 507px) {
        flex-wrap: wrap;
    }
}

.SocialList__SubContainer {
    display: flex;
    flex-wrap: nowrap;

    @media only screen and (max-width: 767px) {
        margin: 0.30em 0 0 0 ;
    }
}
