.ToolBar {
    display: flex;
    height: clamp(2.5rem, 3svh, 5svh);
    padding-left: 0.25em;

    align-items: center;
    justify-content: space-between;

    background-color: var(--card-color);

    border: var(--border-width)  solid var(--border-color);
    border-radius: var(--border-radius);

    grid-area: toolbar;


    @media only screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: var(--spacing);
        }
    }
}
