@import "/src/styles/Themes.css";

#root {
  display: grid;
  grid-gap: var(--spacing);
  width: 100%;
  margin: 2.5svh auto;
  max-height: 95svh;

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    max-width: 95svw;
    max-height: unset;
    margin: 2.6%;
    grid-template-areas: "aside" "toolbar" "main";
    overflow-y: visible;
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    max-width: 95svw;
    max-height: unset;
    margin: 2.6%;
    grid-template-areas: "aside" "toolbar" "main";
    overflow-y: visible;
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    max-width: 85svw;
    max-height: 95svh;
    margin: 2.5svh auto;
    grid-template-areas: "aside toolbar" "aside main";
    grid-template-columns: 35% 65%;
    overflow-y: clip;
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    max-width: 80svw;
    max-height: 95svh;
    margin: 2.5svh auto;
    grid-template-areas: "aside toolbar" "aside main";
    grid-template-columns: 30% 70%;
    overflow-y: clip;
  }
  /* Extra large devices (large laptops and desktops, 1400px and up) */
  @media only screen and (min-width: 1400px) {
    max-width: clamp(80svw, 80svw, 1600px);
    max-height: 95svh;
    margin: 2.5svh auto;
    grid-template-areas: "aside toolbar" "aside main";
    grid-template-columns: 25% 75%;
    overflow-y: clip;
  }
}
