:root {
    --text: rgb(54 54 54 / 0.95);
    --text-h: #1a1a1a;
    --link: #022ec2;
    --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

    --spacing: 0.6rem;
    --border-radius: 0.75rem;
    --border-width: clamp(0.175rem, 0.175rem, 0.25rem);

    --sans: system-ui, 'Segoe UI', Roboto;
    --heading: system-ui, 'Segoe UI', Roboto;
    --mono: ui-monospace, Consolas, monospace;

    font: 1em var(--sans), sans-serif;

    letter-spacing: 0.12px;

    color-scheme: light dark;
    color: var(--text);
    background: var(--bg-color);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    max-width: 100svw;
    min-height: 100svh;
}

body {
    width: 100svw;
    height: 100svh;
}

#root {
    margin: 2.5svh 2.5svw;
    width: 95svw;
}

h1,
h2,
h3 {
    padding: 0.2em 0.6rem;
    font-family: var(--heading), sans-serif;
    font-weight: 650;
    color: var(--text-h);
}

h4, h5 {
    padding: 0.2em 0.6rem;
}

h1 {
    font-size: 2em;
    letter-spacing: -0.06rem;
    margin: 1.25em 0;
}

h2 {
    font-size: 1.5em;
    letter-spacing: -0.04rem;
    margin: 0 0 8px;
}

h3 {
    font-size: 1.25em;
    letter-spacing: -0.02rem;
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin: 0;
    padding: 0.2em 1rem;
    line-height: 1.25;
    text-wrap-style: pretty;
}

a {
    display: inline-block;
    padding: 0 1rem;
    text-decoration: none;
    color: var(--link);
    font-weight: 500;
}

sub, sup {
    display: inline-block;
}
